<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Arabsoft
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Movies</ion-title>
    </ion-toolbar>
  
  </ion-header>
  <ion-header>
    <ion-toolbar style="color: red;"></ion-toolbar>
    <ion-toolbar style="color: green;">
      <ion-searchbar [(ngModel)]="searchTitle"></ion-searchbar>
      <ion-buttons slot="end">
        <ion-button color="green" (click)="searchMovie()">
          <ion-icon name="search-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="img_box" color="light">
    <img style="width: 370px; height: 370px;" [src]="movieData.imageUrl">
  </div>
  <h1 style=" color: black;"><span style="size: 170px;"><i class="fa-solid fa-bed"></i>Title :</span> {{ movieData.title }}</h1>
  <p style="color: black;"> <i class="fa-solid fa-utensils"></i> description : {{ movieData.description }}</p>
  <p style="color: black;"> <i class="fa-solid fa-user"></i> Boxoffice : {{ movieData.BoxOffice }}</p>
  <p style="color: black;"><i class="fa-solid fa-cart-shopping"></i> Country : {{ movieData.Country }}</p>
  <p style="color: black;"><i class="fa-brands fa-cc-visa"></i> Language : {{ movieData.Language }}</p>
  <p style="color: black;"> <i class="fa-solid fa-gift"></i> Type : {{ movieData.Type }}</p>
  
  
</ion-content>
