<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Arabsoft
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Movies</ion-title>
    </ion-toolbar>
  
  </ion-header>
  <ion-header>
    <ion-toolbar color="dark"></ion-toolbar>
    <ion-toolbar color="dark">
      <ion-searchbar [(ngModel)]="searchTitle"></ion-searchbar>
      <ion-buttons slot="end">
        <ion-button color="light" (click)="searchMovie()">
          <ion-icon name="search-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="img_box" color="light">
    <img style="width: 170px; height: 170px;" [src]="movieData.imageUrl">
  </div>
  <h1 style="size: 170px;"><span style="">Title :</span> {{ movieData.title }}</h1>
  <p>description : {{ movieData.description }}</p>
  <p> Boxoffice :{{ movieData.BoxOffice }}</p>
  <p> Country :{{ movieData.Country }}</p>
  <p> Language :{{ movieData.Language }}</p>
  
</ion-content>
